<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="list-group list-group-flush mb-5">
            <li class="list-group-item list-group-item-danger active">Hello</li>
            <li class="list-group-item list-group-item-info">Hello</li>
            <li class="list-group-item list-group-item-warning">Hello</li>
            <li class="list-group-item list-group-item-success">Hello</li>
            <li class="list-group-item list-group-item-dark disabled">Hello</li>
          </ul>
          <ul class="list-group list-group-horizontal-md">
            <li class="list-group-item flex-fill">hello</li>
            <li class="list-group-item flex-fill">hello</li>
            <li class="list-group-item flex-fill">hello</li>
            <li class="list-group-item flex-fill">hello</li>
            <li class="list-group-item flex-fill">hello</li>
          </ul>
          <ul
            class="list-group list-group-horizontal justify-content-around mb-5"
          >
            <li class="list-group-item">hello</li>
            <li class="list-group-item">hello</li>
            <li class="list-group-item">hello</li>
            <li class="list-group-item">hello</li>
            <li class="list-group-item">hello</li>
          </ul>
          <div class="list-group mb-5">
            <a href="" class="list-group-item list-group-item-action">hello</a>
            <a href="" class="list-group-item list-group-item-action">hello</a>
            <a href="" class="list-group-item list-group-item-action">hello</a>
            <a href="" class="list-group-item list-group-item-action">hello</a>
            <a href="" class="list-group-item list-group-item-action">hello</a>
          </div>
          <div class="list-group mb-5">
            <button class="list-group-item list-group-item-action">
              hello
            </button>
            <button class="list-group-item list-group-item-action">
              hello
            </button>
            <button
              class="list-group-item list-group-item-action list-group-item-danger"
            >
              hello
            </button>
            <button class="list-group-item list-group-item-action">
              hello
            </button>
            <button class="list-group-item list-group-item-action">
              hello
            </button>
          </div>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
              hello <span class="badge bg-danger rounded-pill">87</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              hello <span class="badge bg-danger rounded-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              hello <span class="badge bg-danger rounded-pill">41</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              hello <span class="badge bg-danger rounded-pill">9</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              hello <span class="badge bg-danger rounded-pill">35</span>
            </li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item">
              <input
                type="checkbox"
                class="form-check-input me-2"
                name=""
                id=""
              />hello
            </li>
            <li class="list-group-item">
              <input
                type="checkbox"
                class="form-check-input me-2"
                name=""
                id=""
              />hello
            </li>
            <li class="list-group-item">
              <input
                type="checkbox"
                class="form-check-input me-2"
                name=""
                id=""
              />hello
            </li>
            <li class="list-group-item">
              <input
                type="checkbox"
                class="form-check-input me-2"
                name=""
                id=""
              />hello
            </li>
            <li class="list-group-item">
              <input
                type="checkbox"
                class="form-check-input me-2"
                name=""
                id=""
              />hello
            </li>
          </ul>
          <ul class="list-group">
            <label for="hello1" class="list-group-item">
              <input
                type="checkbox"
                class="form-check-input"
                name=""
                id="hello1"
              />hello
            </label>
            <label for="hello5" class="list-group-item">
              <input
                type="checkbox"
                class="form-check-input"
                name=""
                id="hello5"
              />hello
            </label>
            <label for="hello4" class="list-group-item">
              <input
                type="checkbox"
                class="form-check-input"
                name=""
                id="hello4"
              />hello
            </label>
            <label for="hello3" class="list-group-item">
              <input
                type="checkbox"
                class="form-check-input"
                name=""
                id="hello3"
              />hello
            </label>
            <label for="hello2" class="list-group-item">
              <input
                type="checkbox"
                class="form-check-input"
                name=""
                id="hello2"
              />hello
            </label>
          </ul>
          <div class="row">
            <div class="col-4">
              <div class="list-group" id="list-tab" role="tablist">
                <a
                  class="list-group-item list-group-item-action active"
                  id="list-home-list"
                  data-bs-toggle="list"
                  href="#list-home"
                  role="tab"
                  aria-controls="home"
                  >Home</a
                >
                <a
                  class="list-group-item list-group-item-action"
                  id="list-profile-list"
                  data-bs-toggle="list"
                  href="#list-profile"
                  role="tab"
                  aria-controls="profile"
                  >Profile</a
                >
                <a
                  class="list-group-item list-group-item-action"
                  id="list-messages-list"
                  data-bs-toggle="list"
                  href="#list-messages"
                  role="tab"
                  aria-controls="messages"
                  >Messages</a
                >
                <a
                  class="list-group-item list-group-item-action"
                  id="list-settings-list"
                  data-bs-toggle="list"
                  href="#list-settings"
                  role="tab"
                  aria-controls="settings"
                  >Settings</a
                >
              </div>
            </div>
            <div class="col-8">
              <div class="tab-content" id="nav-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="list-home"
                  role="tabpanel"
                  aria-labelledby="list-home-list"
                >
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Doloribus sed exercitationem accusamus itaque suscipit sit ab
                  ratione fugit magnam quaerat impedit blanditiis qui cumque ut,
                  perspiciatis autem at iste veniam.\
                </div>
                <div
                  class="tab-pane fade"
                  id="list-profile"
                  role="tabpanel"
                  aria-labelledby="list-profile-list"
                >
                  <button class="btn btn-warning">Warning</button>
                </div>
                <div
                  class="tab-pane fade"
                  id="list-messages"
                  role="tabpanel"
                  aria-labelledby="list-messages-list"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Facere rerum reiciendis similique, mollitia dolor ullam.
                  Cupiditate dolor cum et, totam minus, rerum vitae voluptates
                  asperiores nostrum omnis porro blanditiis dolorum laborum
                  debitis quisquam quae amet vel ut error voluptatibus
                  accusamus! A qui sunt possimus vel maxime delectus tempora
                  itaque! Voluptatum?
                </div>
                <div
                  class="tab-pane fade"
                  id="list-settings"
                  role="tabpanel"
                  aria-labelledby="list-settings-list"
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Harum, illo?
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
